version: "3.7"

services:
  wordpress:
    image: wordpress
    ports:
      - "8080:80"
    networks:
      - overlay
    deploy:
      mode: replicated
      replicas: {{ web_replicas }}
      endpoint_mode: vip

  mysql:
    image: mysql
{% if persistence %}
    volumes:
       - db-data:/var/lib/mysql/data
{% endif %}
    networks:
       - overlay
    deploy:
      mode: replicated
      replicas: {{ db_replicas }}
      endpoint_mode: dnsrr

{% if persistence %}
volumes:
  db-data:
{% endif %}

networks:
  overlay:
